.back {
    margin-left: 10px;
}
.glyphicon {
    font-size: 50px;
}

ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 1000px;
    overflow-x: auto;
    background-color: white;
}
ul.images li {
    display: inline;
    width: 150px;
    height: 150px;
}